.passwdWarning{
   float: none;
   text-align: left;
}
.warn{
   list-style-type: none;
   font-family: 'Courier New', Courier, monospace;
   font-size: 15px;
}
.passwdWarning{
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
}
.valid{
   color: rgb(24, 225, 24);
}
.invalid{
   color: red;
}
.tableRegister{
   margin-left: auto;
   margin-right: auto;
}

.about
{
   margin-top: 85px;
   font: italic bold 12px/30px Georgia, serif;
   
}
.contact
{
   margin-top: 85px;
   font: italic bold 12px/30px Georgia, serif;
}
.events
{
   margin-top: 85px;
   font: italic bold 12px/30px Georgia, serif;
}
.forgotpassword
{
   margin-top: 85px;
}
/* body{
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4v544i6aFBKjXIZMAIHB_whHM8f-hy5WmvA&usqp=CAU");
} */
.login, .register{
   margin-bottom: 5%;
   margin-top: 10%;
}
.contact{
   margin-top: 30%;
   margin-bottom: 30%;
}