.navBar{
   text-align: center;
   width: 110%;
   height: 60px;
   display: flex;
  /* margin-left: 0;
   margin-right: 0;*/
   position: fixed;
   background: #142d4c;
   justify-content: space-between;
padding: 0.2rem calc((100vw - 1000px) / 2);
z-index: 12;
/*position: sticky;*/
top:0%;
float: center;
display: block;
color: #f2f2f2;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.navBarList{
   list-style-type: none;
   overflow: hidden;
   text-align: center;
}
li.navList{
   float: left;
   padding-left: 60px;
   padding-right: 60px;
   font-weight: bolder;
   color: #f2f2f2;
   
}
#nav ul {
   display: inline-block;
   list-style-type: none;
   
}
