.navBar{
   text-align: center;
   width: 100%;
   height: fit-content;
   display: flex;
   position: fixed;
   background: #142d4c;
   padding-top: 1%;
   /* justify-content: space-between; */
   /* padding: 0.2rem calc((100vw - 1000px) / 2);
   z-index: 12; */
   /*position: sticky;*/
   top:0%;
   float: center;
   display: block;
   color: #f2f2f2;
   text-decoration: none;
   font-size: 20px;

}
.navBarList{
   list-style-type: none;
   overflow: hidden;
   text-align: center;
}
li.navList{
   float: left;
   padding-left: 30px;
   padding-right: 30px;
   font-weight: bolder;
   color: #f2f2f2;
   
}
/* #nav ul {
   display: inline-block;
   list-style-type: none;
   
} */
