.footerH4{
    color: #ececec;
    font: italic bold 12px/30px Georgia, serif;
    margin-bottom: 0%;
}
.footer{
    background: #142d4c;
    height: fit-content;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0%;

    object-position: 0%;
} 