.sideBarDiv{
    width: fit-content;
    height: fit-content;
    text-align: start;
    border: 2px solid black;
    margin: 0%;
    
 }
 .sideBarElement{
    padding: 10px;
    font-weight: bolder;
    list-style-type: none;
    text-decoration: none;
    margin: 0%;
    
 }
 .sideBar{
    margin: 10px;
    margin-bottom: 100%;
    margin-top: 50%;
    /*textColor:#fff;
     bgColor:#333;*/
 }