.fundProfileDiv{
    width: 100%;
    text-align: left;
}
.fundProfileForm{
    margin-left: 100%;
    
}
.sideBySide{
    display: inline-flex;
   
}
.fundsExplorerDiv{
    font: italic bold 12px/30px Georgia, serif;
}
.heiExplorerDiv{
    font: italic bold 12px/30px Georgia, serif;
}